force-app/main/default/flows/Add_SR_to_Service_product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Add SR to Service product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add SR to Service product</label>
    <loops>
        <name>Assign_SR_loop</name>
        <label>Assign SR loop</label>
        <locationX>585</locationX>
        <locationY>58</locationY>
        <assignNextValueToReference>Looped_service_Pro</assignNextValueToReference>
        <collectionReference>Service_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_SR_on_pro</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets service request</description>
        <name>Get_Service_Request</name>
        <label>Get Service Request</label>
        <locationX>205</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_ServiceProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Request_ID</elementReference>
            </value>
        </filters>
        <object>Service_Request__c</object>
        <outputAssignments>
            <assignToReference>Opp_Service</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Opp_ServiceProduct</name>
        <label>Opp_ServiceProduct</label>
        <locationX>393</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SR_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_Service</elementReference>
            </value>
        </filters>
        <object>ServiceProduct__c</object>
        <outputReference>Service_Products</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SR_on_pro</name>
        <label>Update SR on pro</label>
        <locationX>841</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Assign_SR_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Looped_service_Pro.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceRequest_del__c</field>
            <value>
                <elementReference>Service_Request_ID</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceProduct__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Service_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Loop_Service_Pro</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceProduct__c</objectType>
    </variables>
    <variables>
        <name>Looped_service_Pro</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceProduct__c</objectType>
    </variables>
    <variables>
        <name>Opp_Service</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceProduct__c</objectType>
    </variables>
    <variables>
        <description>This gets the SR id from the opp</description>
        <name>Service_Request_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
