force-app/main/default/flows/FL_Contract02_PLA_EmailAlertAndContractStatusP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Act_Internal_email_alert_recontact_customer</name>
        <label>Internal email alert : recontact customer</label>
        <locationX>50</locationX>
        <locationY>972</locationY>
        <actionName>Contract.Get_in_touch_with_client_after_contract_signature</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Act_Send_with_flow_Internal_email_alert_Contract_Expiration</name>
        <label>[Send with flow ] Internal email alert : Contract Expiration</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Txt_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_Recipients_Coll</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Opportunity__r.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Var_Title</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_RecipientEmail</name>
        <label>Set_RecipientEmail</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Var_Recipients_Coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Act_Send_with_flow_Internal_email_alert_Contract_Expiration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_PathingDelay</name>
        <label>Check_PathingDelay</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X6_months_after_contract_signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_TimeSinceSignature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>183.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Act_Internal_email_alert_recontact_customer</targetReference>
            </connector>
            <label>6 months after contract signature</label>
        </rules>
        <rules>
            <name>X1_year_after_contract_signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_TimeSinceSignature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>365.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Act_Internal_email_alert_recontact_customer</targetReference>
            </connector>
            <label>1 year after contract signature</label>
        </rules>
        <rules>
            <name>X2_years_after_contract_signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_TimeSinceSignature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>730.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Act_Internal_email_alert_recontact_customer</targetReference>
            </connector>
            <label>2 years after contract signature</label>
        </rules>
        <rules>
            <name>X15_days_before_contract_expiration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_TimeUntilEndDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RecipientEmail</targetReference>
            </connector>
            <label>15 days before contract expiration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_UserFwi</name>
        <label>Check_OwnerFWI</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Not_Fwi (Default Outcome)</defaultConnectorLabel>
        <rules>
            <name>Is_FwiUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PathingDelay</targetReference>
            </connector>
            <label>Is_FwiUser</label>
        </rules>
    </decisions>
    <description>6 mois, 1 an et 2 ans après la signature du contrat, un email de rappel est envoyé au owner et son manager afin de recontacter le client.
15 jours avant l&apos;expiration du contrat, une alerte est envoyé au owner du contrat.</description>
    <formulas>
        <name>For_TimeSinceSignature</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDate}-{!$Record.CustomerSignedDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>For_TimeUntilEndDate</name>
        <dataType>Number</dataType>
        <expression>{!$Record.EndDate}-{!$Flow.CurrentDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>FL_Contract01_EmailAlertAndContractStatusP   - V14 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_Contract02_PLA_EmailAlertAndContractStatusP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_UserFwi</targetReference>
        </connector>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-26</startDate>
            <startTime>14:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Txt_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following contract is about to expire :
Company: {!$Record.CompanySigned.CompanyName}
Contract #: {!$Record.ContractNumber}
Opportunity : {!$Record.Opportunity__c}
Contract end date : {!$Record.EndDate}</text>
    </textTemplates>
    <variables>
        <name>Var_Recipients_Coll</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>*** CONTRACT EXPIRATION NOTICE ***</stringValue>
        </value>
    </variables>
</Flow>
