force-app/main/default/flows/FL_Oppty01_REC_GenerateAutoSR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignRelatedContractFWI</name>
        <label>AssignRelatedContractFWI</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>ContractId.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CompanySignedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CompanySignedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_Term_SP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CustomerSignedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CustomerSignedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft (Work In Progress)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ContractOwnerId_FWI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.ContractName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SyncedQuote.PurchaseOrderNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRelatedContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRelatedContractFWI_default</name>
        <label>AssignRelatedContractFWI_default</label>
        <locationX>842</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>ContractId.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CompanySignedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CompanySignedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_Term_SP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CustomerSignedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CustomerSignedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft (Work In Progress)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_DefaultOwnerId_FWI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.ContractName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SyncedQuote.PurchaseOrderNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRelatedContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRelatedContractOI</name>
        <label>AssignRelatedContractOI</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>ContractId.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CompanySignedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CompanySignedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_Term_SP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CustomerSignedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CustomerSignedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft (Work In Progress)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ContractOwnerId_OI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.ContractName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SyncedQuote.PurchaseOrderNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRelatedContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRelatedContractOI_default</name>
        <label>AssignRelatedContractOI_default</label>
        <locationX>314</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>ContractId.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CompanySignedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CompanySignedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_Term_SP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CustomerSignedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CustomerSignedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft (Work In Progress)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_DefaultOwnerId_OI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId.ContractName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SyncedQuote.PurchaseOrderNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRelatedContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AddServiceRequestToCreate</name>
        <label>Set_AddServiceRequestToCreate</label>
        <locationX>1700</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>ServiceRequestList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRequestDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopIntoserviceRequestSetup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ServiceRequestDetail</name>
        <label>Set_ServiceRequestDetail</label>
        <locationX>1700</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_SRName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopIntoserviceRequestSetup.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.Valuation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_SRValuation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.Installation_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_SRAdress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.Est_Scheduled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_EstDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.LineItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_IntoProductLineItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.ProjectManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractId.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.PV_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.GPSCoordinates__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_IntoProductLineItem.Location__r.Geo_CoOrdinates__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.GPSCoordinates__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_IntoProductLineItem.Location__r.Geo_CoOrdinates__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRequestDetails.Service_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopIntoserviceRequestSetup.ServiceRequestDetails__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_ChargeType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SrNb</name>
        <label>Set_SrNb</label>
        <locationX>644</locationX>
        <locationY>3071</locationY>
        <assignmentItems>
            <assignToReference>Var_NBSr</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ServiceRequestList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPD_ContractValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TotalMRC</name>
        <label>Set_TotalMRC</label>
        <locationX>1436</locationX>
        <locationY>2423</locationY>
        <assignmentItems>
            <assignToReference>Var_MRCAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FOR_SRValuation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AddServiceRequestToCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TotalOTC</name>
        <label>Set_TotalOTC</label>
        <locationX>1700</locationX>
        <locationY>2423</locationY>
        <assignmentItems>
            <assignToReference>Var_OTCAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FOR_SRValuation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AddServiceRequestToCreate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_ChargeType</name>
        <label>Check_ChargeType</label>
        <locationX>1700</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Set_AddServiceRequestToCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_MRC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_IntoProductLineItem.Charge_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MRC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_TotalMRC</targetReference>
            </connector>
            <label>Is_MRC</label>
        </rules>
        <rules>
            <name>Is_OTC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_IntoProductLineItem.Charge_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_TotalOTC</targetReference>
            </connector>
            <label>Is_OTC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_IsFound</name>
        <label>Check_Contact</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Get_DefaultOwnerId_OI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ContractOwnerId_OI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRelatedContractOI</targetReference>
            </connector>
            <label>Is_Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_IsFound_0</name>
        <label>Check_Contact</label>
        <locationX>710</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Get_DefaultOwnerId_FWI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ContractOwnerId_FWI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRelatedContractFWI</targetReference>
            </connector>
            <label>Is_Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFWIUser</name>
        <label>IsFWIUser</label>
        <locationX>963</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_FWI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadOrNot</targetReference>
            </connector>
            <label>Is_FWI</label>
        </rules>
    </decisions>
    <decisions>
        <name>LeadOrNot</name>
        <label>Lead?</label>
        <locationX>644</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>GetRelatedOpportunityLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>AccountISLEAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CustomerType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccountNewCustomer</targetReference>
            </connector>
            <label>AccountISLEAD</label>
        </rules>
    </decisions>
    <decisions>
        <name>OptyCountry</name>
        <label>OptyCountry</label>
        <locationX>644</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>CreateRelatedContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OceanIndien</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mayotte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>La Reunion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nouvelle Caledonie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mauritius</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ContractOwnerId_OI</targetReference>
            </connector>
            <label>OceanIndien</label>
        </rules>
        <rules>
            <name>FWI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French Guiana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Martinique</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guadeloupe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Martin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Barthelemy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ContractOwnerId_FWI</targetReference>
            </connector>
            <label>FWI</label>
        </rules>
    </decisions>
    <description>Refonte Loop</description>
    <formulas>
        <name>FOR_EstDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 90</expression>
    </formulas>
    <formulas>
        <name>For_SRAdress</name>
        <dataType>String</dataType>
        <expression>LEFT(
LEFT(
{!Loop_IntoProductLineItem.Location__r.BranchAddress__Street__s}
, 94)&amp;&quot;-&quot;&amp;{!Loop_IntoProductLineItem.Branch_Location__r.Postal_Code__c}
, 100)</expression>
    </formulas>
    <formulas>
        <name>FOR_SRName</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;Installation_&quot;&amp;{!$Record.Name}&amp;&quot;_&quot;&amp;
{!LoopIntoserviceRequestSetup.Name},80)</expression>
    </formulas>
    <formulas>
        <name>FOR_SRValuation</name>
        <dataType>Currency</dataType>
        <expression>IF(  
    ISNULL({!Loop_IntoProductLineItem.ExistingMRCValue__c}) , 
    
{!Loop_IntoProductLineItem.TotalPrice},

{!Loop_IntoProductLineItem.TotalPrice} - {!Loop_IntoProductLineItem.ExistingMRCValue__c} 
 )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FL_Oppty01_GenerateAutoSR_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_Oppty01_REC_GenerateAutoSR</label>
    <loops>
        <name>Loop_IntoProductLineItem</name>
        <label>Loop_IntoProductLineItem</label>
        <locationX>644</locationX>
        <locationY>1823</locationY>
        <collectionReference>GetRelatedOpportunityLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetAllRelatedServiceRequestSetup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_ServiceRequestList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopIntoserviceRequestSetup</name>
        <label>LoopIntoserviceRequestSetup</label>
        <locationX>1348</locationX>
        <locationY>2063</locationY>
        <collectionReference>GetAllRelatedServiceRequestSetup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_ServiceRequestDetail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_IntoProductLineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateRelatedContract</name>
        <label>CreateRelatedContract</label>
        <locationX>644</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Loop_IntoProductLineItem</targetReference>
        </connector>
        <inputReference>ContractId</inputReference>
    </recordCreates>
    <recordCreates>
        <name>New_ServiceRequestList</name>
        <label>New_ServiceRequestList</label>
        <locationX>644</locationX>
        <locationY>2951</locationY>
        <connector>
            <targetReference>Set_SrNb</targetReference>
        </connector>
        <inputReference>ServiceRequestList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ContractOwnerId_FWI</name>
        <label>Get_ContractOwnerId_FWI</label>
        <locationX>710</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_IsFound_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_FullNameOfContractOwner_FWI</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContractOwnerId_OI</name>
        <label>Get_ContractOwnerId_OI</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_IsFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_FullNameOfContractOwner_OceanIndien</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>If the standard  contract owner isn&apos;t active anymore, the flow will get a default one</description>
        <name>Get_DefaultOwnerId_FWI</name>
        <label>Get_DefaultOwnerId_FWI</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRelatedContractFWI_default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Var_FullNameOfContractOwner_DefaultOwner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>If the standard  contract owner isn&apos;t active anymore, the flow will get a default one</description>
        <name>Get_DefaultOwnerId_OI</name>
        <label>Get_DefaultOwnerId_OI</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRelatedContractOI_default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Var_FullNameOfContractOwner_DefaultOwner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllRelatedServiceRequestSetup</name>
        <label>GetAllRelatedServiceRequestSetup</label>
        <locationX>1348</locationX>
        <locationY>1943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopIntoserviceRequestSetup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_IntoProductLineItem.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceRequestSetup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedOpportunityLineItem</name>
        <label>GetRelatedOpportunityLineItem</label>
        <locationX>644</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OptyCountry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPD_ContractValue</name>
        <label>UPD_ContractValue</label>
        <locationX>644</locationX>
        <locationY>3191</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InstalledServiceRequestTotalAmount__c</field>
            <value>
                <elementReference>Var_MRCAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceRequestTotalAmount__c</field>
            <value>
                <elementReference>Var_OTCAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalServiceRequestNumber__c</field>
            <value>
                <elementReference>Var_NBSr</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccountNewCustomer</name>
        <label>UpdateAccountNewCustomer</label>
        <locationX>512</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>GetRelatedOpportunityLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CustomerType__c</field>
            <value>
                <stringValue>New Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>837</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsFWIUser</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ProductIdFromLoopList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductIdFromLoopToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ServiceRequestDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Request__c</objectType>
    </variables>
    <variables>
        <name>ServiceRequestList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Request__c</objectType>
    </variables>
    <variables>
        <name>Var_Coll_Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_FullNameOfContractOwner_DefaultOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_FullNameOfContractOwner_FWI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Jean-Hugues Trompette</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_FullNameOfContractOwner_OceanIndien</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Xavier Merlo</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_MRCAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_NBSr</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_OTCAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
