force-app/main/default/flows/FL_Oppty05_REC_UpdateDetailsWhenBilled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_FWI_User</name>
        <label>Is FWI User ?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FWI_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContract</targetReference>
            </connector>
            <label>Yes FWI User</label>
        </rules>
    </decisions>
    <description>Lorsque l&apos;opportunité est billed, l&apos;actual billed date et le SID stage sont mis à jour sur OLI et le contract term et billed date sur le contrat.</description>
    <interviewLabel>FL_Oppty05_REC_UpdateDetailsWhenBilled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_Oppty05_REC_UpdateDetailsWhenBilled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateContract</name>
        <label>UpdateContract</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>$Record.Contract_Term_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.Actual_Billed_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_FWI_User</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billed</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
