force-app/main/default/flows/FL_ServiceRequest05_REC_CalculateTimeSpendOnStage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Duration_CustomerHold</name>
        <label>Set_Duration_CustomerHold</label>
        <locationX>1898</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.CustomerHoldDuration__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_TimeSinceLastStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TimeSpentOnHoldClient__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_TimeSinceLastStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duration_Draft</name>
        <label>Set_Duration_Draft</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.DraftDuration__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_TimeSinceLastStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duration_DraftNew</name>
        <label>Set_Duration_DraftNew</label>
        <locationX>2602</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.DraftDuration__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_TimeSinceCreation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duration_InProgress</name>
        <label>Set_Duration_InProgress</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.InProgressDuration__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_TimeSinceLastStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duration_Installed</name>
        <label>Set_Duration_Installed</label>
        <locationX>2162</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.InstalledDuration__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_TimeSinceLastStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duration_OnHold</name>
        <label>Set_Duration_OnHold</label>
        <locationX>1634</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.OnHoldMoreInfoRqdDuration__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_TimeSinceLastStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duration_ReturnedToSales</name>
        <label>Set_Duration_ReturnedToSales</label>
        <locationX>1370</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.ReturnedToSalesDuration__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_TimeSinceLastStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duration_ReturnedToService</name>
        <label>Set_Duration_ReturnedToService</label>
        <locationX>1106</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.ReturnedToServiceDelDuration__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_TimeSinceLastStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duration_SentToContractor</name>
        <label>Set_Duration_SentToContractor</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.SentToContractorDuration__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_TimeSinceLastStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DurationRequested</name>
        <label>Set_DurationRequested</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.RequestedDuration__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_TimeSinceLastStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_lastModifiedDate</name>
        <label>Set_lastModifiedDate</label>
        <locationX>2052</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastStatusChange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_LastStatusChange</name>
        <label>Check_LastStatusChange</label>
        <locationX>2052</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastStatusChange__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_OldStatus</targetReference>
            </connector>
            <label>Is_Filled</label>
        </rules>
        <rules>
            <name>Is_NullButStageWasDraft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Duration_DraftNew</targetReference>
            </connector>
            <label>Is_NullButStageWasDraft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OldStatus</name>
        <label>Check_OldStatus</label>
        <locationX>1238</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duration_Draft</targetReference>
            </connector>
            <label>Is_Draft</label>
        </rules>
        <rules>
            <name>Is_SentToContractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent to Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duration_SentToContractor</targetReference>
            </connector>
            <label>Is_SentToContractor</label>
        </rules>
        <rules>
            <name>Is_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DurationRequested</targetReference>
            </connector>
            <label>Is_Requested</label>
        </rules>
        <rules>
            <name>Is_InProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duration_InProgress</targetReference>
            </connector>
            <label>Is_InProgress</label>
        </rules>
        <rules>
            <name>Is_ReturnedToServiceDel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned to Service Del</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duration_ReturnedToService</targetReference>
            </connector>
            <label>Is_ReturnedToServiceDel</label>
        </rules>
        <rules>
            <name>Is_ReturnedToSales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned to Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duration_ReturnedToSales</targetReference>
            </connector>
            <label>Is_ReturnedToSales</label>
        </rules>
        <rules>
            <name>Is_OnHoldMoreInfoRqd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold More Info Rqd</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duration_OnHold</targetReference>
            </connector>
            <label>Is_OnHoldMoreInfoRqd</label>
        </rules>
        <rules>
            <name>Is_CustomerHold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duration_CustomerHold</targetReference>
            </connector>
            <label>Is_CustomerHold</label>
        </rules>
        <rules>
            <name>Is_Installed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duration_Installed</targetReference>
            </connector>
            <label>Is_Installed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User</name>
        <label>Check_User</label>
        <locationX>2547</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_FWI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_LastStatusChange</targetReference>
            </connector>
            <label>Is_FWI</label>
        </rules>
    </decisions>
    <formulas>
        <name>For_TimeSinceCreation</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDate}-DATEVALUE({!$Record.CreatedDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>For_TimeSinceLastStage</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDate}-{!$Record.LastStatusChange__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>FL_ServiceRrequest05_REC_CalculateTimeSpendOnStage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_ServiceRequest05_REC_CalculateTimeSpendOnStage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2421</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Service_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
