force-app/main/default/flows/FL_ServiceRequest02_REC_ProgressCalculationOnContract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Set_AmountOTCwFAS</name>
        <label>Set_AmountOTCwFAS</label>
        <locationX>490</locationX>
        <locationY>2543</locationY>
        <assignmentItems>
            <assignToReference>Var_InstalledOTC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInstalledSR.FASAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountInstalledAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountCollectionOli</name>
        <label>CountCollectionOli</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Var_NumberOfClosedServiceRequest_OLI</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CoFil_GetAllInstalledSRFromOLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_TotalServiceRequest_OLI</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetAllSRFromOPLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllSRFromContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountCollections</name>
        <label>CountCollections</label>
        <locationX>402</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>Var_NumberOfSR</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllSRFromContract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NumberofInstalledSR</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CollFil_AllInstalledSRFromContract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NumberOfComplete</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CoFil_AllCompletedSRFromContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSRFromContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountInstalledAmount</name>
        <label>CountInstalledAmount</label>
        <locationX>754</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>VAR_TotalInstalledAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInstalledSR.Valuation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInstalledSR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AmountOTC</name>
        <label>Set_AmountOTC</label>
        <locationX>490</locationX>
        <locationY>2423</locationY>
        <assignmentItems>
            <assignToReference>Var_InstalledOTC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInstalledSR.Valuation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Set_AmountOTCwFAS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AmountOTC_FAS</name>
        <label>Set_AmountOTC_FAS</label>
        <locationX>754</locationX>
        <locationY>2543</locationY>
        <assignmentItems>
            <assignToReference>Var_InstalledOTC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInstalledSR.FASAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountInstalledAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_InstalledMRC</name>
        <label>Set_InstalledMRC</label>
        <locationX>754</locationX>
        <locationY>2423</locationY>
        <assignmentItems>
            <assignToReference>Var_InstalledMRC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInstalledSR.Valuation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AmountOTC_FAS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TotalMRC</name>
        <label>Set_TotalMRC</label>
        <locationX>754</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>Var_TotalMRC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSRFromContract.Valuation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_TotalOTC_FAS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TotalOTC</name>
        <label>Set_TotalOTC</label>
        <locationX>490</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>Var_TotalOTC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSRFromContract.Valuation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_TotalOTCwFAS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TotalOTC_FAS</name>
        <label>Set_TotalOTC_FAS</label>
        <locationX>754</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>Var_TotalOTC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSRFromContract.FASAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSRFromContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TotalOTCwFAS</name>
        <label>Set_TotalOTCwFAS</label>
        <locationX>490</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>Var_TotalOTC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSRFromContract.FASAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSRFromContract</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>CoFil_AllCompletedSRFromContract</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>CoFil_AllCompletedSRFromContract</label>
        <locationX>402</locationX>
        <locationY>1271</locationY>
        <assignNextValueToReference>currentItem_CoFil_AllCompletedSRFromContract</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>AllSRFromContract</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_CoFil_AllCompletedSRFromContract.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Complete</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>CountCollections</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>CoFil_GetAllInstalledSRFromOLI</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>CoFil_AllInstalledSRFromOLI</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNextValueToReference>currentItem_CoFil_GetAllInstalledSRFromOLI</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetAllSRFromOPLineItem</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_CoFil_GetAllInstalledSRFromOLI.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Installed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_CoFil_GetAllInstalledSRFromOLI.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Complete</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>CountCollectionOli</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>CollFil_AllInstalledSRFromContract</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>CoFil_AllInstalledSRFromContract</label>
        <locationX>402</locationX>
        <locationY>1151</locationY>
        <assignNextValueToReference>currentItem_CollFil_AllInstalledSRFromContract_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>AllSRFromContract</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_CollFil_AllInstalledSRFromContract_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Installed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_CollFil_AllInstalledSRFromContract_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Complete</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>CoFil_AllCompletedSRFromContract</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Status</name>
        <label>Check_Status</label>
        <locationX>402</locationX>
        <locationY>2975</locationY>
        <defaultConnector>
            <targetReference>UpdateContractFields_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOLIFields</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_Installed</name>
        <label>Check_Type_Installed</label>
        <locationX>754</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>CountInstalledAmount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_OTC_Installed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInstalledSR.ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AmountOTC</targetReference>
            </connector>
            <label>Is_OTC_Installed</label>
        </rules>
        <rules>
            <name>Is_MRC_Installed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInstalledSR.ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MRC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_InstalledMRC</targetReference>
            </connector>
            <label>Is_MRC_Installed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_Total</name>
        <label>Check_Type_Total</label>
        <locationX>754</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>LoopSRFromContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_OTC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSRFromContract.ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_TotalOTC</targetReference>
            </connector>
            <label>Is_OTC</label>
        </rules>
        <rules>
            <name>Is_MRC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSRFromContract.ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MRC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_TotalMRC</targetReference>
            </connector>
            <label>Is_MRC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FWi_user</name>
        <label>Is FWi user ?</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FWi_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusISCHANGED</targetReference>
            </connector>
            <label>Yes FWi User</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusISCHANGED</name>
        <label>StatusISCHANGED</label>
        <locationX>402</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Status_Or_Amount_IsChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllSRFromOPLineItem</targetReference>
            </connector>
            <label>Status_Or_Amount_IsChanged</label>
        </rules>
        <rules>
            <name>Only_Amount_IsChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Valuation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FASAmount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AllSRFromContract</targetReference>
            </connector>
            <label>Only_Amount_IsChanged</label>
        </rules>
        <rules>
            <name>EstimatedDateChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Est_Scheduled_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCheckbox</targetReference>
            </connector>
            <label>EstimatedDateChanged</label>
        </rules>
    </decisions>
    <description>V2</description>
    <interviewLabel>FL_ServiceRequest02_REC_ProgressCalculationOnContract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_ServiceRequest02_REC_ProgressCalculationOnContract</label>
    <loops>
        <name>LoopInstalledSR</name>
        <label>LoopInstalledSR</label>
        <locationX>402</locationX>
        <locationY>2183</locationY>
        <collectionReference>CollFil_AllInstalledSRFromContract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Type_Installed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSRFromContract</name>
        <label>LoopSRFromContract</label>
        <locationX>402</locationX>
        <locationY>1511</locationY>
        <collectionReference>AllSRFromContract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Type_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopInstalledSR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AllSRFromContract</name>
        <label>GetAllSRFromContract</label>
        <locationX>402</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollFil_AllInstalledSRFromContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllSRFromOPLineItem</name>
        <label>GetAllSRFromOPLineItem</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CoFil_GetAllInstalledSRFromOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LineItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LineItem__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCheckbox</name>
        <label>UpdateCheckbox</label>
        <locationX>490</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Tech_EstDateChange__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContractFields_0_0</name>
        <label>UpdateContractFields</label>
        <locationX>402</locationX>
        <locationY>3311</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletedServiceRequest__c</field>
            <value>
                <elementReference>Var_NumberOfComplete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstalledMRC__c</field>
            <value>
                <elementReference>Var_InstalledMRC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstalledOTC__c</field>
            <value>
                <elementReference>Var_InstalledOTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstalledServiceRequestNumber__c</field>
            <value>
                <elementReference>Var_NumberofInstalledSR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstalledServiceRequestTotalAmount__c</field>
            <value>
                <elementReference>Var_TotalMRC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceRequestTotalAmount__c</field>
            <value>
                <elementReference>Var_TotalOTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalServiceRequestNumber__c</field>
            <value>
                <elementReference>Var_NumberOfSR</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOLIFields</name>
        <label>UpdateOLIFields</label>
        <locationX>270</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>UpdateContractFields_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LineItem__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClosedServiceRequest__c</field>
            <value>
                <elementReference>Var_NumberOfClosedServiceRequest_OLI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>totalServiceRequest__c</field>
            <value>
                <elementReference>Var_TotalServiceRequest_OLI</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_FWi_user</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Est_Scheduled_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Valuation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FASAmount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Service_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_AllInstalledSR_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Request__c</objectType>
    </variables>
    <variables>
        <name>currentItem_CoFil_AllCompletedSRFromContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Request__c</objectType>
    </variables>
    <variables>
        <name>currentItem_CoFil_GetAllInstalledSRFromOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Request__c</objectType>
    </variables>
    <variables>
        <name>currentItem_CollFil_AllInstalledSRFromContract_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Request__c</objectType>
    </variables>
    <variables>
        <name>Var_InstalledMRC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_InstalledOTC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_NbDaysStatusHold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NbDaysSubStatusHold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NbDaysTotalstatus</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NbDaysTotalSubstatus</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NItem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var_NumberOfClosedServiceRequest_OLI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NumberOfComplete</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NumberofInstalledSR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NumberOfSR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VAR_TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VAR_TotalInstalledAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_TotalMRC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_TotalOTC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_TotalServiceRequest_OLI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
