force-app/main/default/flows/FL_ServiceRequest06_REC_CalculateTimeSpendOnSubstatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_DurationSentToContractor</name>
        <label>Set_DurationSentToContractor</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.TimeSpentOnHoldClient__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_TimeSinceLastSubsatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_lastModifiedDate</name>
        <label>Set_lastModifiedDate</label>
        <locationX>336</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastSubstatusChange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_LastSubStatusChange</name>
        <label>Check_LastSubStatusChange</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastSubstatusChange__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Substatus</targetReference>
            </connector>
            <label>Is_Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Substatus</name>
        <label>Check_Substatus</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Set_lastModifiedDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_HoldCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On hold by customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DurationSentToContractor</targetReference>
            </connector>
            <label>Is_HoldCustomer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User</name>
        <label>Check_User</label>
        <locationX>501</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_FWI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_LastSubStatusChange</targetReference>
            </connector>
            <label>Is_FWI</label>
        </rules>
    </decisions>
    <formulas>
        <name>For_TimeSinceLastSubsatus</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDate}-{!$Record.LastSubstatusChange__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>FL_ServiceRequest06_REC_CalculateTimeSpendOnSubstatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_ServiceRequest06_REC_CalculateTimeSpendOnSubstatus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SubStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Service_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
