force-app/main/default/flows/Opportunity_Files.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Get_Opp_ID</name>
        <label>Get Opp ID</label>
        <locationX>128</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>Opportunityid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunityid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Files</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DoesContainsSign</name>
        <label>DoesContainsSign</label>
        <locationX>815</locationX>
        <locationY>588</locationY>
        <defaultConnectorLabel>Error State</defaultConnectorLabel>
        <rules>
            <name>YesSigned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TestTitle</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestTitle</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Signed contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestTitle</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sign Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestTitle</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contract Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestTitle</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestTitle</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contrat Signe </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestTitle</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contrat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestTitle</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Firma</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestTitle</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Firmada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestTitle</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Firmado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestTitle</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_signed_checkbox</targetReference>
            </connector>
            <label>YesSigned</label>
        </rules>
        <rules>
            <name>NoSigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestTitle</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;Signed&quot;, &quot;Signed Contract&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Files</targetReference>
            </connector>
            <label>NoSigned</label>
        </rules>
    </decisions>
    <description>This flow runs against the files that are attached to an opp and verify if there is a signed contract. Adding contract to the list</description>
    <interviewLabel>Opportunity Files {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Files V4.1</label>
    <loops>
        <name>Loop_Files</name>
        <label>Loop Files</label>
        <locationX>687</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>LoopFiles</assignNextValueToReference>
        <collectionReference>OpportunityFiles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopedCDL</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Files</name>
        <label>Get Files</label>
        <locationX>387</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunityid</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>OpportunityFiles</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LinkedEntityId</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LoopedCDL</name>
        <label>LoopedCDL</label>
        <locationX>396</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesContainsSign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopFiles.ContentDocumentId</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputAssignments>
            <assignToReference>TestTitle</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_signed_checkbox</name>
        <label>Update signed checkbox</label>
        <locationX>1200</locationX>
        <locationY>579</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunityid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractAttached__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opp_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>ContentDocumentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dateTesst</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopFiles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>OpportunityFileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityFiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>Variable for the opp ID</description>
        <name>Opportunityid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Testdate</name>
        <dataType>DateTime</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
