force-app/main/default/flows/PNG_Support_Case_Management_When_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PNG_Support_Case_Auto_Response_Email_ContactEmail_AccManager</name>
        <label>PNG Support Case Auto-Response Email ContactEmail AccManager</label>
        <locationX>1539</locationX>
        <locationY>1348</locationY>
        <actionName>Case.PNG_Support_Case_Auto_Response_Email_ContactEmail_AccManager</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_for_no_FR</name>
        <label>Send Notification for no FR</label>
        <locationX>289</locationX>
        <locationY>790</locationY>
        <actionName>Case.PNG_Support_Case_No_FR_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_for_General_Milestone</name>
        <label>Check for General Milestone</label>
        <locationX>1674</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>General_Milestone_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Milestone</targetReference>
            </connector>
            <label>General Milestone Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Gold_Accounts</name>
        <label>Check For Gold Accounts</label>
        <locationX>1089</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Checking_PNG_Support_Case_for_GSM_Related</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bronze/Silver</defaultConnectorLabel>
        <rules>
            <name>Gold_Accs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.PNG_Account_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_to_Premium_Queue</targetReference>
            </connector>
            <label>Gold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_FR_Date_field_is_blank</name>
        <label>Check if the FR Date field is blank</label>
        <locationX>36</locationX>
        <locationY>651</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_FR_Date_Field_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Response_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120W000001xn9sQAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_for_no_FR</targetReference>
            </connector>
            <label>If FR Date Field Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_PNG_Support_Case_for_GSM_Related</name>
        <label>Checking PNG Support Case for (GSM Related)</label>
        <locationX>1407</locationX>
        <locationY>191</locationY>
        <defaultConnector>
            <targetReference>Check_for_General_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not GSM Related</defaultConnectorLabel>
        <rules>
            <name>GSM_SIM_Replacement</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SIM Replacement </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CUG Replacement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>[EXTERNAL] SIM Replacement </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_to_GSM_SIMReplacement_Type</targetReference>
            </connector>
            <label>GSM SIM Replacement</label>
        </rules>
        <rules>
            <name>GSM_Postpaid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Postpaid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Postpaid CUG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>post paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>post-paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_to_GSM_Type</targetReference>
            </connector>
            <label>GSM Postpaid</label>
        </rules>
    </decisions>
    <decisions>
        <name>PNG_Support_Case_Report_Type</name>
        <label>PNG Support Case Report Type</label>
        <locationX>591</locationX>
        <locationY>141</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Only_PNG_Support_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PNGSupportCaseRecordTypeID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Gold_Accounts</targetReference>
            </connector>
            <label>Get Only PNG Support Cases</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PNG Support Case Management When Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PNG Support Case Management When Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>General_Milestone</name>
        <label>General Milestone</label>
        <locationX>1890</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_General_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PNG_EntitlementType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General</stringValue>
            </value>
        </filters>
        <filters>
            <field>PNG_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>varGeneralEntitlement</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Assign_General_Entitlement</name>
        <label>Assign General Entitlement</label>
        <locationX>1891</locationX>
        <locationY>702</locationY>
        <connector>
            <targetReference>PNG_Support_Case_Auto_Response_Email_ContactEmail_AccManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>varGeneralEntitlement</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_to_GSM_SIMReplacement_Type</name>
        <label>Update Case to GSM/SIMReplacement Type</label>
        <locationX>1281</locationX>
        <locationY>785</locationY>
        <connector>
            <targetReference>PNG_Support_Case_Auto_Response_Email_ContactEmail_AccManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Category__c</field>
            <value>
                <stringValue>Service Provisioning</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PNG_CaseType__c</field>
            <value>
                <stringValue>GSM</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_to_GSM_Type</name>
        <label>Update Case to GSM Type</label>
        <locationX>1550</locationX>
        <locationY>773</locationY>
        <connector>
            <targetReference>PNG_Support_Case_Auto_Response_Email_ContactEmail_AccManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PNG_CaseType__c</field>
            <value>
                <stringValue>GSM</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_to_Premium_Queue</name>
        <label>Update Owner to Premium Queue</label>
        <locationX>1150</locationX>
        <locationY>788</locationY>
        <connector>
            <targetReference>PNG_Support_Case_Auto_Response_Email_ContactEmail_AccManager</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>PremiumCorpQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>57</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>PNG_Support_Case_Report_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_Notificaiton_to_be_Sent_if_FR_Date_is_Blank</name>
            <connector>
                <targetReference>Check_if_the_FR_Date_field_is_blank</targetReference>
            </connector>
            <label>Schedule Notificaiton to be Sent if FR Date is Blank</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CorporateCareQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G0W000003Z90j</stringValue>
        </value>
    </variables>
    <variables>
        <name>CurSupportCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>ICTLevel1QueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G0W000003Z90p</stringValue>
        </value>
    </variables>
    <variables>
        <name>ManagedServicesQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G0W000003Z90r</stringValue>
        </value>
    </variables>
    <variables>
        <name>PNGSupportCaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0120W000001xn9sQAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>PremiumCorpQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G0W000003Z90v</stringValue>
        </value>
    </variables>
    <variables>
        <name>varGeneralEntitlement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
