force-app/main/default/flows/PNG_Product_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_Products_Created_or_Updated</name>
        <label>Check Products Created or Updated</label>
        <locationX>447</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Review_When_Created_0</targetReference>
            </connector>
            <label>Product Created</label>
        </rules>
        <rules>
            <name>Product_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_Before_Next_Review__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Review_When_Update_0</targetReference>
            </connector>
            <label>Product Update</label>
        </rules>
    </decisions>
    <formulas>
        <name>Add_10Days_To_When_To_Deactivate_Product</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+{!$Record.Days_Before_Next_Review__c}+10</expression>
    </formulas>
    <formulas>
        <name>Add_DaysFrom_DayBeforeNextReview_To_Created_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+{!$Record.Days_Before_Next_Review__c}</expression>
    </formulas>
    <formulas>
        <name>New_Record</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>PNG - Product Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PNG - Product Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Deactivate_Product</name>
        <label>Deactivate Product</label>
        <locationX>1092</locationX>
        <locationY>577</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Auto_Deactivate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PNG_Product_is_Restricted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Reviewed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Status__c</field>
            <value>
                <stringValue>Deactivated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Product_Review_Required</name>
        <label>Product Review Required</label>
        <locationX>1335</locationX>
        <locationY>122</locationY>
        <inputAssignments>
            <field>Product_Status__c</field>
            <value>
                <stringValue>Review Required</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Product_Review_When_Created_0</name>
        <label>Product_Review_When_Created</label>
        <locationX>154</locationX>
        <locationY>640</locationY>
        <inputAssignments>
            <field>Product_Expiry_Date__c</field>
            <value>
                <elementReference>Add_10Days_To_When_To_Deactivate_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Next_Review_Date__c</field>
            <value>
                <elementReference>Add_DaysFrom_DayBeforeNextReview_To_Created_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Product_Review_When_Update_0</name>
        <label>Product_Review_When_Update</label>
        <locationX>475</locationX>
        <locationY>595</locationY>
        <inputAssignments>
            <field>Product_Expiry_Date__c</field>
            <value>
                <elementReference>Add_10Days_To_When_To_Deactivate_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Next_Review_Date__c</field>
            <value>
                <elementReference>Add_DaysFrom_DayBeforeNextReview_To_Created_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Status__c</field>
            <value>
                <stringValue>Review Date Changed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Urgent_Review_Required</name>
        <label>Urgent Review Required</label>
        <locationX>1427</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>Product_Status__c</field>
            <value>
                <stringValue>Urgent Review Required</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>744</locationX>
        <locationY>71</locationY>
        <connector>
            <targetReference>Check_Products_Created_or_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120W000001xn9wQAA</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>When_date_is_reached_for_Auto_Deactivation</name>
            <connector>
                <targetReference>Deactivate_Product</targetReference>
            </connector>
            <label>When date is reached for Auto Deactivation</label>
            <maxBatchSize>20</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Product_Expiry_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X5Days_Passed_Review_Date</name>
            <connector>
                <targetReference>Product_Review_Required</targetReference>
            </connector>
            <label>5Days Passed Review Date</label>
            <maxBatchSize>20</maxBatchSize>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Product_Next_Review_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X30Days_Passed_Review_Date</name>
            <connector>
                <targetReference>Urgent_Review_Required</targetReference>
            </connector>
            <label>30Days Passed Review Date</label>
            <maxBatchSize>20</maxBatchSize>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Product_Next_Review_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
