force-app/main/default/flows/PNG_Estimated_Billed_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>ICT_PNG_Opps</name>
        <label>Opps Type</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PNG_OpportunityType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GSM_Estimated_Billed_Date</targetReference>
            </connector>
            <label>GSM</label>
        </rules>
        <rules>
            <name>ICT_GSM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PNG_OpportunityType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ICT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PNG_OpportunityType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ICT &amp; GSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ICT_Estimated_Billed_Date</targetReference>
            </connector>
            <label>ICT &amp; GSM</label>
        </rules>
    </decisions>
    <formulas>
        <name>GSMEstimatedDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+1</expression>
    </formulas>
    <formulas>
        <name>ICTEstimatedDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+30</expression>
    </formulas>
    <interviewLabel>PNG Estimated Billed Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PNG Estimated Billed Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_GSM_Estimated_Billed_Date</name>
        <label>Update GSM Estimated Billed Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Estimated_Billed_Date__c</field>
            <value>
                <elementReference>GSMEstimatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ICT_Estimated_Billed_Date</name>
        <label>Update ICT Estimated Billed Date</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Estimated_Billed_Date__c</field>
            <value>
                <elementReference>ICTEstimatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ICT_PNG_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120W000001xn9v</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estimated_Billed_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
