force-app/main/default/flows/SyncProductSchedulesWithCloseDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_new_Date</name>
        <label>Add new Date</label>
        <locationX>783</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>scheduleRecord.ScheduleDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>782</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>scheduleRecordUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>scheduleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Collection2</targetReference>
        </connector>
    </assignments>
    <description>This flow updates the Scheduled Dates on all Product Schedules related to an Opportunity when the Close Date is changed.</description>
    <formulas>
        <name>closeDateDiff</name>
        <dataType>Number</dataType>
        <expression>MONTH({!oppRecord.CloseDate}) - MONTH({!previousCloseDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>newDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!scheduleRecord.ScheduleDate}, {!closeDateDiff})</expression>
    </formulas>
    <interviewLabel>SyncProductSchedulesWithCloseDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SyncProductSchedulesWithCloseDate</label>
    <loops>
        <name>Loop_through_Collection1</name>
        <label>Loop through Collection1</label>
        <locationX>295</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>productRecord</assignNextValueToReference>
        <collectionReference>productRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_all_Schedules</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Schedules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Collection2</name>
        <label>Loop through Collection2</label>
        <locationX>605</locationX>
        <locationY>146</locationY>
        <assignNextValueToReference>scheduleRecord</assignNextValueToReference>
        <collectionReference>scheduleRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_new_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Collection1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Products</name>
        <label>Get all Products</label>
        <locationX>162</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Collection1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppRecord.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>productRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Schedules</name>
        <label>Get all Schedules</label>
        <locationX>606</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Collection2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productRecord.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItemSchedule</object>
        <outputReference>scheduleRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ScheduleDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>65</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>oppRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Schedules</name>
        <label>Update Schedules</label>
        <locationX>295</locationX>
        <locationY>228</locationY>
        <inputReference>scheduleRecordUpdates</inputReference>
    </recordUpdates>
    <startElementReference>Get_Opp</startElementReference>
    <status>Active</status>
    <variables>
        <name>oppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>previousCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>productRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scheduleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>scheduleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>scheduleRecordUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
</Flow>
