DigicielFull/force-app/main/default/flows/Account_Creation_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Record assignment of Account in Approve Status for more than 10 Days</description>
        <name>Assignment_10_Day_Old_Account</name>
        <label>Assignment 10 Day Old Account</label>
        <locationX>72</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Timed_Account_Deletion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>New account record assignment</description>
        <name>Record_Assignment</name>
        <label>Record Assignment</label>
        <locationX>597</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Setting conditions for rejection or approval</description>
        <name>Approval_Status</name>
        <label>Approval Status</label>
        <locationX>586</locationX>
        <locationY>568</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reject_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Account_Rejected</targetReference>
            </connector>
            <label>Reject Status</label>
        </rules>
        <rules>
            <name>Run_Approval_Process</name>
            <conditionLogic>1 AND (2 OR  3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e6T000002aEVp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e6T000002aEWi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Continue_Step</targetReference>
            </connector>
            <label>Run Approval Process</label>
        </rules>
        <rules>
            <name>Non_Sales_Rep_Users</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e6T000002aEVp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e6T000002aEWi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_Non_Sale_Rep_User</targetReference>
            </connector>
            <label>Non-Sales Rep Users</label>
        </rules>
    </decisions>
    <decisions>
        <description>To point to approve status = new</description>
        <name>Timed_Account_Deletion</name>
        <label>Timed Account Deletion</label>
        <locationX>64</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Approve_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_10_Day_Old_Account</targetReference>
            </connector>
            <label>New Approve Status</label>
        </rules>
    </decisions>
    <description>Main flow for 2nd version of the Account approval process to allow additional users to approve new accounts for specific markets.
Note: V5 has additional conditions for vendor in Trinidad</description>
    <environments>Default</environments>
    <interviewLabel>Account Creation Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Creation Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Delete 10 day old Account if approve status = new</description>
        <name>Delete_10_Day_Old_Account</name>
        <label>Delete 10 Day Old Account</label>
        <locationX>66</locationX>
        <locationY>621</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <description>When the approval status is &quot;rejected&quot;, the account will be deleted</description>
        <name>Delete_Account_Rejected</name>
        <label>Delete Account Rejected</label>
        <locationX>359</locationX>
        <locationY>564</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordUpdates>
        <description>Approval status is changed to approved when account is created by a non sales rep user</description>
        <name>Approve_Non_Sale_Rep_User</name>
        <label>Approve Non Sale Rep User</label>
        <locationX>593</locationX>
        <locationY>754</locationY>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>477</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>Record_Assignment</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_10_Days_After_Account_Is_Created</name>
            <connector>
                <targetReference>Assignment_10_Day_Old_Account</targetReference>
            </connector>
            <label>Run 10 Days After Account Is Created</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Continue_Step</name>
        <label>Continue Step</label>
        <locationX>850</locationX>
        <locationY>567</locationY>
        <flowName>Approve_Create_Account</flowName>
        <inputAssignments>
            <name>Recordid</name>
            <value>
                <elementReference>CurrentRecordID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentRecordID</assignToReference>
            <name>Recordid</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CurrentRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
