DigicielFull/force-app/main/default/flows/Attach_Account_to_Case_using_Email_Domain.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Accounts</name>
        <label>Assign Accounts</label>
        <locationX>1079</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>MatchingAccID.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingAccID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchingAccID.Email_Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingAccID.Email_Domain__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Fields</name>
        <label>Assign Case Fields</label>
        <locationX>148</locationX>
        <locationY>31</locationY>
        <assignmentItems>
            <assignToReference>curCaseEmailDomain</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curCaseEmailDomain</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curCaseID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Accounts_With_Email_Domains</targetReference>
        </connector>
    </assignments>
    <description>This process will update Account on Case if the account has other accounts and same contact is put as primary contact. Also it helps if the contact is not saved on Salesforce as the account contact.</description>
    <interviewLabel>Attach Account to Case using Email Domain {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attach Account to Case using Email Domain (Automated)</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>657</locationX>
        <locationY>40</locationY>
        <assignNextValueToReference>MatchingAccID</assignNextValueToReference>
        <collectionReference>VarAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts_With_Email_Domains</name>
        <label>Get Accounts With Email Domains</label>
        <locationX>350</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCaseEmailDomain</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012d0000000tMaVAAU</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>VarAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email_Domain__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Accounts</name>
        <label>Update Case Accounts</label>
        <locationX>817</locationX>
        <locationY>293</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_s_Email_Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchingAccID.Email_Domain__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120W000001xn9sQAA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MatchingAccID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>18</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Assign_Case_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curCaseEmailDomain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingAccID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>VarAccEmailDomain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>VarCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
