DigicielFull/force-app/main/default/flows/Case_Status_Owner_Tracker_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignNewCase</name>
        <label>AssignNewCase</label>
        <locationX>1187</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>varChangedFrom</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseID.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SystemModstamp</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignOwnerChange</name>
        <label>AssignOwnerChange</label>
        <locationX>514</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>varChangedFrom</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Owner:User.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangedFrom</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Owner:Group.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangedTo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangedTo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignStatusChange</name>
        <label>AssignStatusChange</label>
        <locationX>950</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>varChangedFrom</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseID.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEndDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_what_is_changed</name>
        <label>Check what is changed</label>
        <locationX>50</locationX>
        <locationY>442</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Owner</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOwnerChange</targetReference>
            </connector>
            <label>Case Owner</label>
        </rules>
        <rules>
            <name>Case_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStatusChange</targetReference>
            </connector>
            <label>Case Status</label>
        </rules>
        <rules>
            <name>New_Case_and_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewCase</targetReference>
            </connector>
            <label>New Case and Status</label>
        </rules>
    </decisions>
    <interviewLabel>Case Status/Owner Tracker Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Status/Owner Tracker Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>162</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_what_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Merged</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varCaseID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varChangedFrom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChangedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
