DigicielFull/force-app/main/default/flows/Create_Service_Products_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Get_Opportunity_ID</name>
        <label>Get Opportunity ID</label>
        <locationX>210</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Line_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Closed_Won</name>
        <label>Is Closed Won?</label>
        <locationX>101</locationX>
        <locationY>246</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Stage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Create Service Products 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Service Products V2</label>
    <loops>
        <name>LoopLine_items</name>
        <label>LoopLine items</label>
        <locationX>556</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>LoopLineItem</assignNextValueToReference>
        <collectionReference>LineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_One_Line_Item</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Service_Product</name>
        <label>Create Service Product</label>
        <locationX>720</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>LoopLine_items</targetReference>
        </connector>
        <inputAssignments>
            <field>ActualBilledDate__c</field>
            <value>
                <elementReference>Copy_ActBilledDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Type__c</field>
            <value>
                <elementReference>Copy_Charge_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Period_Months__c</field>
            <value>
                <elementReference>Copy_Contract_Period_Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Value_New__c</field>
            <value>
                <elementReference>Copy_Contract_Value_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Digicel_Product_Family__c</field>
            <value>
                <elementReference>Copy_Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disconnected_Date__c</field>
            <value>
                <elementReference>Copy_Disconnected_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Copy_Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Bill_Date__c</field>
            <value>
                <elementReference>Copy_Estimated_Bill_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Price__c</field>
            <value>
                <elementReference>Copy_List_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRC__c</field>
            <value>
                <elementReference>Copy_MRC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin__c</field>
            <value>
                <elementReference>Copy_Margin_markup_percent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_AOP_Total__c</field>
            <value>
                <elementReference>Copy_Net_AOP_Total</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Contract_Value__c</field>
            <value>
                <elementReference>Copy_Net_Contract_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTC__c</field>
            <value>
                <elementReference>Copy_OTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityID__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProRata_MRC_Act__c</field>
            <value>
                <elementReference>Copy_ProRataMRCAct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProRata_MRC_Est__c</field>
            <value>
                <elementReference>Copy_ProRataMRCEst</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Family__c</field>
            <value>
                <elementReference>Copy_Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Interest__c</field>
            <value>
                <elementReference>Copy_Product_Interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sub_Type__c</field>
            <value>
                <elementReference>Copy_Product_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Copy_FORMULA_Product_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Users__c</field>
            <value>
                <elementReference>Copy_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIDStage__c</field>
            <value>
                <elementReference>Copy_SIDStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SP__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Type__c</field>
            <value>
                <elementReference>Copy_Sale_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price__c</field>
            <value>
                <elementReference>Copy_Sales_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceProductName__c</field>
            <value>
                <elementReference>Copy_ProductName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Price__c</field>
            <value>
                <elementReference>Copy_Total_Price</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceProduct__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Line_Items</name>
        <label>Get Line Items</label>
        <locationX>368</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopLine_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>LineItems</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_One_Line_Item</name>
        <label>Get One Line Item</label>
        <locationX>551</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Service_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopLineItem.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>Copy_ActBilledDate</assignToReference>
            <field>Actual_Billed_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Charge_Type</assignToReference>
            <field>Charge_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Contract_Period_Months</assignToReference>
            <field>Contract_Period_Months__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Contract_Value_New</assignToReference>
            <field>Contract_Value_New__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Digicel_Product_family</assignToReference>
            <field>Digicel_Product_family__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Disconnected_Date</assignToReference>
            <field>Disconnected_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Discount</assignToReference>
            <field>Discount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Estimated_Bill_Date</assignToReference>
            <field>Estimated_Bill_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_FORMULA_Product_Type</assignToReference>
            <field>FORMULA_Product_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Family</assignToReference>
            <field>Family__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_LineItemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_List_Price</assignToReference>
            <field>ListPrice</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_MRC</assignToReference>
            <field>MRC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Margin_markup_percent</assignToReference>
            <field>Margin_markup_percent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Net_AOP_Total</assignToReference>
            <field>Net_AOP_Total__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Net_Contract_Value</assignToReference>
            <field>Net_Contract_Value__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_OTC</assignToReference>
            <field>OTC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_ProRataMRCAct</assignToReference>
            <field>ProRataMRCAct__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_ProRataMRCEst</assignToReference>
            <field>ProRataMRCEst__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Product_Interest</assignToReference>
            <field>Product_Interest__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_ProductName</assignToReference>
            <field>Product_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Product_Sub_Type</assignToReference>
            <field>Product_Sub_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Quantity</assignToReference>
            <field>Quantity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_SIDStage</assignToReference>
            <field>SID_Stage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Sale_Type</assignToReference>
            <field>Sale_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Total_Price</assignToReference>
            <field>TotalPrice</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Copy_Sales_Price</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>55</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>Opportunity_Stage</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Copy_ActBilledDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_Charge_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_Contract_Period_Months</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Copy_Contract_Value_New</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Copy_Digicel_Product_family</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_Disconnected_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_Discount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Copy_Estimated_Bill_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_Family</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_FORMULA_Product_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_LineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_List_Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Copy_Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_Margin_markup_percent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Copy_MRC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Copy_Net_AOP_Total</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Copy_Net_Contract_Value</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Copy_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_OpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_OTC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Copy_Product_Interest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_Product_Sub_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_ProRataMRCAct</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Copy_ProRataMRCEst</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Copy_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Copy_Sale_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_Sales_Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Copy_ServiceQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Copy_ServiceType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_SIDStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_Total_Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>LoopLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Opportunity_Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
