DigicielFull/force-app/main/default/flows/FL_Account01_UpdateAccountHdquarters_BeforeCreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_InfoHqAdress</name>
        <label>Set_InfoHqAdress</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.HeadquartersAddress__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HeadquartersAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HeadquartersAddress__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Address__Street__s</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>UserIsFWI</name>
        <label>UserIsFWI</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsFWI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_InfoHqAdress</targetReference>
            </connector>
            <label>IsFWI</label>
        </rules>
    </decisions>
    <description>Récupère la billing Address du compte afin de renseigner le champ &quot;Mailing address&quot; à la création ou modification d&apos;un contact.</description>
    <interviewLabel>FL_Account01_UpdateAccountHdquarters_BeforeCreateUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_Account01_UpdateAccountHdquarters_BeforeCreateUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UserIsFWI</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
