DigicielFull/force-app/main/default/flows/FL_Contract01_EmailAlertAndContractStatus_AfterCreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>UpdateContractStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AlertBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AlertSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignOwner</name>
        <label>AssignOwnerToCollection</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Var_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecordStatus</name>
        <label>AssignRecordStatus</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partially Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContractStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecordStatus_0</name>
        <label>AssignRecordStatus</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Totally Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOwner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IFInstalled</name>
        <label>IFInstalledOrComplete</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>UpdateContractStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContractCompletionPercent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordStatus_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Complete</label>
        </rules>
        <rules>
            <name>Installed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InstalledServiceRequestNumber__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordStatus</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Installed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FWI_User</name>
        <label>Is FWI User ?</label>
        <locationX>534</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FWI_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IFInstalled</targetReference>
            </connector>
            <label>Yes FWI User</label>
        </rules>
    </decisions>
    <description>Le contrat est &quot;Partially completed&quot; si au moins 1 sr est complete. Le contrat est &quot;Totally Completed&quot; si tous les SR associés sont Complete. Un email est envoyé au owner du contrat et owner de l&apos;opportunité.</description>
    <formulas>
        <name>For_URLRecord</name>
        <dataType>String</dataType>
        <expression>LEFT(
{!$Api.Enterprise_Server_URL_260},
FIND(
&quot;/services&quot;, 
{!$Api.Enterprise_Server_URL_260}
)
)
&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>FL_Contract01_EmailAlertAndContractStatus_AfterCreateUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_Contract01_EmailAlertAndContractStatus_AfterCreateUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateContractStatus</name>
        <label>UpdateContractStatus</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_FWI_User</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AlertBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Owner.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;All SR from contract {!$Record.ContractNumber} is completed : &lt;a href=&quot;{!For_URLRecord}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;click here&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Have a nice day,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;SYSTEM&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AlertSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;All SR Completed from contract {!$Record.ContractNumber}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Var_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following contract is about to expire :
Company: {!$Record.CompanySigned.CompanyName}
Contract #: {!$Record.ContractNumber}
Opportunity : {!$Record.Opportunity__c}
Contract end date : {!$Record.EndDate}</text>
    </textTemplates>
    <textTemplates>
        <name>Var_Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>*** CONTRACT EXPIRATION NOTICE ***</text>
    </textTemplates>
    <variables>
        <name>Coll_RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
