DigicielFull/force-app/main/default/flows/FL_Oppty04_REC_AlertWhenClosedWon.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Opp_Owner</name>
        <label>Alert Opp Owner</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Recipients</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OppOwnerAlertContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>OppOwnerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Careful : an opportunity was closed won without the PSR completed</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_related_PSR_Owner</name>
        <label>Alert related PSR Owner</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AlertContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>PSROwnerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AlertSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_PSR_Owner_Email_To_Collection</name>
        <label>Assign PSR Owner Email To Collection</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>PSROwnerEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Every_Related_PSR.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Every_Related_PSR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountPSR</name>
        <label>Count PSR</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Var_CountPSRRecord</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_PSR_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IF_PSR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Owner_Email</name>
        <label>Set Opp Owner Email</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>OppOwnerEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alert_Opp_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_OwnerPSRType</name>
        <label>Check_OwnerPSRType</label>
        <locationX>402</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Every_Related_PSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is_Queue (Default Outcome)</defaultConnectorLabel>
        <rules>
            <name>Is_UserPSR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Every_Related_PSR.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PSR_Owner_Email_To_Collection</targetReference>
            </connector>
            <label>Is_UserPSR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Recipients</name>
        <label>Check_Recipients</label>
        <locationX>182</locationX>
        <locationY>1943</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_AtLeast1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PSROwnerEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_related_PSR_Owner</targetReference>
            </connector>
            <label>Is_AtLeast1</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_PSR</name>
        <label>IF PSR</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_CountPSRRecord</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Every_Related_PSR</targetReference>
            </connector>
            <label>PSR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_at_least_one_of_the_related_PSR_not_complete</name>
        <label>Is at least one of the related PSR not complete ?</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Check_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_PSR_not_complete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Owner_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FWI_User</name>
        <label>Is FWI User ?</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FWI_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_PSR_Owner</targetReference>
            </connector>
            <label>Yes FWI User</label>
        </rules>
    </decisions>
    <description>&quot;When the opp is closed won, 2 things should happen : 
- An email alert should be sent to the related PSR Owner
- If the opp was closed won without the related PSR being complete, then the opp owner should be alerted by email&quot;</description>
    <interviewLabel>FL_Oppty04_REC_AlertWhenClosedWon {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_Oppty04_REC_AlertWhenClosedWon</label>
    <loops>
        <name>Loop_Through_Every_Related_PSR</name>
        <label>Loop Through Every Related PSR</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Related_PSR_Owner</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_OwnerPSRType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Related_PSR_not_complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_PSR_not_complete</name>
        <label>Get Related PSR not complete</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_at_least_one_of_the_related_PSR_not_complete</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Completed_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pre_Sales_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_PSR_Owner</name>
        <label>Get Related PSR Owner</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountPSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pre_Sales_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_FWI_User</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AlertContent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Opportunity : {!$Record.Name} has been won on {!$Record.CloseDate}. You&apos;re receiving this e-mail because that Opportunity is related to one or more Pre-Sales Request(s) that you own.&lt;/p&gt;&lt;p&gt;Have a nice day,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;SYSTEM&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AlertSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Opportunity {!$Record.Name} has been won !</text>
    </textTemplates>
    <textTemplates>
        <name>OppOwnerAlertContent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Owner.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;/!\ The Opportunity {!$Record.Name} was Closed Won without at least one of the related PSR being completed &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;/!\&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;SYSTEM&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>OppOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PSROwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_CountPSRRecord</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
