DigicielFull/force-app/main/default/flows/FL_Oppty02_REC_TaskCreationAfterClosedLostOpp_AfterCreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>FWiUSer</name>
        <label>FWI User ?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_is_FWI_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType</targetReference>
            </connector>
            <label>Yes is FWI User</label>
        </rules>
    </decisions>
    <description>Due date = 9 months after an opportunity has been lost to a competitor: A task should be created and displayed on the related account so the salesperson can get back in touch with the lost prospect.</description>
    <formulas>
        <name>For_9MonthsLater</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},3)</expression>
    </formulas>
    <interviewLabel>FL_Oppty02_REC_TaskCreationAfterClosedLostOpp_AfterCreateUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_Oppty02_REC_TaskCreationAfterClosedLostOpp_AfterCreateUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task</name>
        <label>Create task</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>For_9MonthsLater</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType__c</field>
            <value>
                <stringValue>Outgoing Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactType__c</field>
            <value>
                <stringValue>Telephone Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Let&apos;s get back in touch with this lost prospect and see if we can do business with them now !</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeetingActivity__c</field>
            <value>
                <stringValue>Upsell New / Existing Product</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeetingPurpose__c</field>
            <value>
                <stringValue>Grow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubCallType__c</field>
            <value>
                <stringValue>Second Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Customer recapture</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get_RecordType</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Digicel_Business_Task_Reminder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FWiUSer</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
