DigicielFull/force-app/main/default/flows/FL_PSR01_AlertOwnerWhenClosed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_PSR_owner_when_its_closed</name>
        <label>Alert PSR owner when its closed</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AlertContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>PSROwnerMail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AlertSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_PSR_queue_owner_when_its_closed</name>
        <label>Alert PSR queue owner when its closed</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AlertForQueueContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>PSROwnerQueueEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AlertSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>PSR_Owner_Email</name>
        <label>PSR Owner Email</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>PSROwnerMail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alert_PSR_owner_when_its_closed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PSR_Queue_Owner_Email</name>
        <label>PSR Queue Owner Email</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>PSROwnerQueueEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:Group.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alert_PSR_queue_owner_when_its_closed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_FWI_User</name>
        <label>Is FWI User ?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FWI_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_owner_a_user_or_a_queue</targetReference>
            </connector>
            <label>Yes FWI User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_owner_a_user_or_a_queue</name>
        <label>Is the owner a user or a queue ?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>PSR_Queue_Owner_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Queue</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSR_Owner_Email</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <description>Send an email alert to the pre sales request owner when it&apos;s closed</description>
    <interviewLabel>FL_PSR01_AlertOwnerWhenClosed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_PSR01_AlertOwnerWhenClosed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_FWI_User</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Pre_Sales_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AlertContent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Owner:User.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The PSR {!$Record.Name} was closed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Have a nice day,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;SYSTEM&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AlertForQueueContent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Owner:Group.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The PSR {!$Record.Name} was closed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Have a nice day,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;SYSTEM&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AlertSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>PSR : {!$Record.Name} closed !</text>
    </textTemplates>
    <variables>
        <name>PSROwnerMail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PSROwnerQueueEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
