DigicielFull/force-app/main/default/flows/FL_ServiceRequest01_REC_AutoCompleteStatusAfterPvSent_AfterCreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignComplete</name>
        <label>AssignComplete</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Completed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PV_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSRStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignComplete_0</name>
        <label>AssignComplete</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Completed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PV_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSRStatus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_FWI_User</name>
        <label>is FWI User ?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FWI_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SignedISNULL</targetReference>
            </connector>
            <label>Yes FWI User</label>
        </rules>
    </decisions>
    <decisions>
        <name>SignedISNULL</name>
        <label>SignedISNULL</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>AssignComplete_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Signed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignComplete</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Lorsque le champ &quot;Signed&quot; est nul ou lorsque le PV a été envoyé il y a plus de X jours, alors le statut du service request change et passe en &quot;Complete&quot;.</description>
    <interviewLabel>FL_ServiceRequest01_REC_AutoCompleteStatusAfterPvSent_AfterCreateUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_ServiceRequest01_REC_AutoCompleteStatusAfterPvSent_AfterCreateUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateSRStatus</name>
        <label>UpdateSRStatus</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_FWI_User</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>  OR (   {!$Record.Sent__c}&lt;(TODAY()-{!$Record.Delay__c}) &amp;&amp;  ISNULL({!$Record.Signed__c})
            ,   
             NOT(ISNULL({!$Record.Signed__c})) )</filterFormula>
        <object>Service_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
