DigicielFull/force-app/main/default/flows/FL_ServiceRequest03_PLA_CreateFollowUpTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Coming_Service_Request</name>
        <label>Coming Service Request</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Outdated</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requested_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Add15DaysToToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaskRecordType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FWI_User</name>
        <label>Is FWI User ?</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FWi_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Coming_Service_Request</targetReference>
            </connector>
            <label>Yes FWi User</label>
        </rules>
    </decisions>
    <description>Crée une tâche 15 jours avant la clôture du Service Request</description>
    <formulas>
        <name>Add15DaysToToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 15</expression>
    </formulas>
    <interviewLabel>FL_ServiceRequest03_PLA_CreateFollowUpTask {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_ServiceRequest03_PLA_CreateFollowUpTask</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateFollowUpServiceRequest</name>
        <label>CreateFollowUpServiceRequest</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType__c</field>
            <value>
                <stringValue>Outgoing Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactType__c</field>
            <value>
                <stringValue>Telephone Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This following service request is supposed to be done in 15 days.  Update the current status or contact clients to inform for any changes. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeetingPurpose__c</field>
            <value>
                <stringValue>Manage / Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetTaskRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubCallType__c</field>
            <value>
                <stringValue>Existing Customer Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow up open service request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetTaskRecordType</name>
        <label>GetTaskRecordType</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateFollowUpServiceRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Digicel_Business_Task_Reminder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_FWI_User</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Service_Request__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-06-22</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
