DigicielFull/force-app/main/default/flows/FL_ServiceRequest04_REC_CountRelatedSRonProduct_AfterCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>CountNumberOfRelatedSR</name>
        <label>CountNumberOfRelatedSR</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varNCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetAllRelatedServiceRequestToCurrentProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRelatedProduct</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_User_FWI</name>
        <label>Is User FWI ?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FWI_user</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllRelatedServiceRequestToCurrentProduct</targetReference>
            </connector>
            <label>Yes FWI user</label>
        </rules>
    </decisions>
    <interviewLabel>FL_ServiceRequest04_REC_CountRelatedSRonProduct_AfterCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_ServiceRequest04_REC_CountRelatedSRonProduct_AfterCreate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllRelatedServiceRequestToCurrentProduct</name>
        <label>GetAllRelatedServiceRequestToCurrentProduct</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountNumberOfRelatedSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRelatedProduct</name>
        <label>UpdateRelatedProduct</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Nb_of_related_SR__c</field>
            <value>
                <elementReference>varNCount</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_User_FWI</targetReference>
        </connector>
        <object>Service_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varNCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
