DigicielFull/force-app/main/default/flows/FL_ServiceRequest08_PLA_AutoCompleteSR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>CHECK_CompleteDate</name>
        <label>CHECK_CompleteDate</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Is_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_CompleteDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPD_UpdateAsComplete</targetReference>
            </connector>
            <label>Is_Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_FWI</name>
        <label>Check_FWI</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>IS_FWI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Digicel_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FWI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHECK_CompleteDate</targetReference>
            </connector>
            <label>IS_FWI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>For_CompleteDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Sent__c} + {!$Record.Delay__c}</expression>
    </formulas>
    <interviewLabel>FL_ServiceRequest08_PLA_AutoCompleteSR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_ServiceRequest08_PLA_AutoCompleteSR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UPD_UpdateAsComplete</name>
        <label>UPD_UpdateAsComplete</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>For_CompleteDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_FWI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </filters>
        <object>Service_Request__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-06</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
