DigicielFull/force-app/main/default/flows/PNG_Case_Update_Records_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignValues_from_Screen_Flow</name>
        <label>AssignValues from Screen Flow</label>
        <locationX>389</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>NotifyPriCaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notify_Primary_Case_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Update_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>PNG - Case Update Records (Created) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PNG - Case Update Records (Created)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Update_Record</name>
        <label>Create Case Update Record</label>
        <locationX>661</locationX>
        <locationY>255</locationY>
        <inputAssignments>
            <field>Case_Update__c</field>
            <value>
                <elementReference>CaseUpdateText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notify_Primary_Owner__c</field>
            <value>
                <elementReference>Notify_Primary_Case_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case__c</field>
            <value>
                <elementReference>Get_Case_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Update__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>121</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedCaseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Case_Update</name>
        <label>Case Update</label>
        <locationX>121</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignValues_from_Screen_Flow</targetReference>
        </connector>
        <fields>
            <name>CaseUpdate</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Case Update&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Number_SF</name>
            <fieldText>&lt;p&gt;CaseNumber: &lt;strong&gt;{!Get_Case_Details.CaseNumber}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Update_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Update_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Case_Details.Status</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Update_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Case_Details.Case_Request_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Update_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Case_Details.Case_Request_Sub_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CaseUpdateText</name>
            <fieldText>Case Update Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Update_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Update_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Notify_Primary_Case_Owner</name>
            <dataType>Boolean</dataType>
            <fieldText>Notify Primary Case Owner</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>415</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Case_Details.CaseNumber</elementReference>
        </value>
    </variables>
    <variables>
        <name>NotifyPriCaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
