DigicielFull/force-app/main/default/flows/PNG_QuoteLineItem_Flow_When_Created_or_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assignToPreSales</name>
        <label>assignToPreSales</label>
        <locationX>991</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>VarPreSalesAssignment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_PreSales_ProductID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPreSales_Systems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToPreSales_Network</name>
        <label>assignToPreSales_Network</label>
        <locationX>1266</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>VarPreSalesNetworksAssignment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_PreSales_Network_ProductID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetTechnicalFeasibility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToPreSales_Systems</name>
        <label>assignToPreSales_Systems</label>
        <locationX>1135</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>VarPreSalesSystemAssignment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_PreSales_Systems_ProductID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPreSales_Network</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToTechnicalFeacibility</name>
        <label>assignToTechnicalFeacibility</label>
        <locationX>1430</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>VarTechnicalAssignment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_TechnicalFeasibility_ProductID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetVSAT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToVoice_Var</name>
        <label>assignToVoice_Var</label>
        <locationX>858</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>VarVoiceSolutionsAssignment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_Voice_ProductID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPreSales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToVSAT</name>
        <label>assignToVSAT</label>
        <locationX>1606</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>VarTechnicalAssignment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_VSAT_ProductID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_To_Apply_Approval</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_To_Apply_Approval</name>
        <label>Check_To_Apply_Approval</label>
        <locationX>1768</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarPreSalesAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarPreSalesNetworksAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarPreSalesSystemAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTechnicalAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarVoiceSolutionsAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarVSATAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateVoiceOn_Opps</targetReference>
            </connector>
            <label>Approval Required</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>PNG QuoteLineItem Flow (When Created or Updated) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PNG QuoteLineItem Flow (When Created or Updated)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetPreSales</name>
        <label>GetPreSales</label>
        <locationX>916</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToPreSales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Sales</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>Var_PreSales_ProductID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPreSales_Network</name>
        <label>GetPreSales_Network</label>
        <locationX>1173</locationX>
        <locationY>79</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToPreSales_Network</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Sales (Networks Team)</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>Var_PreSales_Network_ProductID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPreSales_Systems</name>
        <label>GetPreSales_Systems</label>
        <locationX>1031</locationX>
        <locationY>79</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToPreSales_Systems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Sales (Systems Team)</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>Var_PreSales_Systems_ProductID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetTechnicalFeasibility</name>
        <label>GetTechnicalFeasibility</label>
        <locationX>1352</locationX>
        <locationY>79</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToTechnicalFeacibility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Feasibility</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>Var_TechnicalFeasibility_ProductID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetVoice</name>
        <label>GetVoice</label>
        <locationX>816</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToVoice_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice Solution</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>Var_Voice_ProductID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetVSAT</name>
        <label>GetVSAT</label>
        <locationX>1581</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToVSAT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VSAT</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>Var_TechnicalFeasibility_ProductID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateVoiceOn_Opps</name>
        <label>UpdateVoiceOn_Opps</label>
        <locationX>1768</locationX>
        <locationY>106</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PreSales_Line_Items__c</field>
            <value>
                <elementReference>VarPreSalesAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreSales_Network_Line_Items__c</field>
            <value>
                <elementReference>VarPreSalesNetworksAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreSales_Systems_Line_Items__c</field>
            <value>
                <elementReference>VarPreSalesSystemAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technical_Feasibility_Line_Items__c</field>
            <value>
                <elementReference>VarTechnicalAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VSAT_Line_Items__c</field>
            <value>
                <elementReference>VarVSATAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voice_Solution_Line_Items__c</field>
            <value>
                <elementReference>VarVoiceSolutionsAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetVoice</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>LoopVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_PreSales_Network_ProductID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Var_PreSales_ProductID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Var_PreSales_Systems_ProductID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Var_PreSalesCount</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_TechnicalFeasibility_ProductID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Var_Voice_ProductID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Var_VoiceCountLoop</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_VSAT_ProductID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>VarPreSalesAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarPreSalesNetworksAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarPreSalesSystemAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTechnicalAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarVoiceSolutionsAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarVSATAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
