DigicielFull/force-app/main/default/flows/PNG_Quote_LineItem_Discount_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignSalesPrice</name>
        <label>AssignSalesPrice</label>
        <locationX>452</locationX>
        <locationY>1087</locationY>
        <assignmentItems>
            <assignToReference>ActualSalesPriceAmount_QuoteLineItem_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Actual_Total_By_SalesPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QuoteLine_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_QuoteLine_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUnitPrice</name>
        <label>AssignUnitPrice</label>
        <locationX>77</locationX>
        <locationY>1077</locationY>
        <assignmentItems>
            <assignToReference>ActualAmount_QuoteLine_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Actual_Total_By_ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QuoteLine_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_QuoteLine_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_subject_for_discount</name>
        <label>Check If subject for discount</label>
        <locationX>265</locationX>
        <locationY>953</locationY>
        <defaultConnector>
            <targetReference>AssignSalesPrice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discount_approval_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_QuoteLine_Item.Product2.Not_Allowed_to_Change_Standard_Price__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_QuoteLine_Item.UnitPrice</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_Through_QuoteLine_Item.PricebookEntry.UnitPrice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignUnitPrice</targetReference>
            </connector>
            <label>Discount approval required</label>
        </rules>
        <rules>
            <name>UpSale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_QuoteLine_Item.Product2.Not_Allowed_to_Change_Standard_Price__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_QuoteLine_Item.UnitPrice</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Loop_Through_QuoteLine_Item.PricebookEntry.UnitPrice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSalesPrice</targetReference>
            </connector>
            <label>UpSale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Null</name>
        <label>Check Null</label>
        <locationX>521</locationX>
        <locationY>707</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTotalActuals</targetReference>
            </connector>
            <label>Is Null (False)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>260</locationX>
        <locationY>394</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PNG_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote.Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PNG_Digicel_ICT_GSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_LineItem</targetReference>
            </connector>
            <label>PNG Quote?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Actual_Total_By_ListPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Through_QuoteLine_Item.PricebookEntry.UnitPrice}*{!Loop_Through_QuoteLine_Item.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Actual_Total_By_SalesPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Through_QuoteLine_Item.UnitPrice}*{!Loop_Through_QuoteLine_Item.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DiscountApplied_Percentage</name>
        <dataType>Number</dataType>
        <expression>100*(1-({!$Record.Quote.Subtotal}/({!ActualAmount_QuoteLine_Total}+{!ActualSalesPriceAmount_QuoteLineItem_Total})))</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>PNG Quote LineItem Discount Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PNG Quote LineItem Discount Calculation</label>
    <loops>
        <name>Loop_Through_QuoteLine_Item</name>
        <label>Loop Through QuoteLine Item</label>
        <locationX>269</locationX>
        <locationY>708</locationY>
        <collectionReference>Get_All_LineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_subject_for_discount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_LineItem</name>
        <label>Get All LineItem</label>
        <locationX>270</locationX>
        <locationY>553</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_QuoteLine_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTotalActuals</name>
        <label>UpdateTotalActuals</label>
        <locationX>798</locationX>
        <locationY>704</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Discount_Applied__c</field>
            <value>
                <elementReference>DiscountApplied_Percentage</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>147</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActualAmount_QuoteLine_Total</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ActualSalesPriceAmount_QuoteLineItem_Total</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
