DigicielFull/force-app/main/default/flows/PNG_QuoteLineItem_Management_When_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Product_Types</name>
        <label>Check Product Types</label>
        <locationX>196</locationX>
        <locationY>331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ICT_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote.Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digicel PNG ICT &amp; GSM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote.Opportunity.PNG_OpportunityType__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ICT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ICT_Products</targetReference>
            </connector>
            <label>ICT Products</label>
        </rules>
        <rules>
            <name>GSM_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digicel PNG ICT &amp; GSM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote.Opportunity.PNG_OpportunityType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GSM_Products</targetReference>
            </connector>
            <label>GSM Product</label>
        </rules>
    </decisions>
    <interviewLabel>PNG QuoteLineItem Management (When Updated) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PNG QuoteLineItem Management (When Updated)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_GSM_Products</name>
        <label>Update GSM Products</label>
        <locationX>556</locationX>
        <locationY>240</locationY>
        <filterLogic>(1 OR 2 or 4 or 5) and 3</filterLogic>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Product2.PNG_Approvals_Required__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Product2.PNG_ChargeType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Charge_Type__c</field>
            <value>
                <elementReference>$Record.Product2.PNG_ChargeType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PNG_Approvals_Required__c</field>
            <value>
                <elementReference>$Record.Product2.PNG_Approvals_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PNG_HasInstallationProduct__c</field>
            <value>
                <elementReference>$Record.Product2.PNG_InstallationProduct__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ICT_Products</name>
        <label>Update ICT Products</label>
        <locationX>521</locationX>
        <locationY>454</locationY>
        <filterLogic>(1 OR 2 or 4 or 5) and 3</filterLogic>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Product2.PNG_Approvals_Required__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Product2.PNG_ChargeType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Charge_Type__c</field>
            <value>
                <elementReference>$Record.Product2.PNG_ChargeType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PNG_Approvals_Required__c</field>
            <value>
                <elementReference>$Record.Product2.PNG_Approvals_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PNG_HasInstallationProduct__c</field>
            <value>
                <elementReference>$Record.Product2.PNG_InstallationProduct__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Product_Types</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
