DigicielFull/force-app/main/default/flows/PNG_QuoteLineItem_Flow_WhenDeleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assignToPreSales</name>
        <label>assignToPreSales</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>VarPreSalesAssignment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_PreSales_ProductID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_OneLineItem_PreSales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToPreSales_Network</name>
        <label>assignToPreSales_Network</label>
        <locationX>842</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>VarPreSalesNetworksAssignment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_PreSales_Network_ProductID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_OneLineItem_PreSalesNetworks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToPreSales_Systems</name>
        <label>assignToPreSales_Systems</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>VarPreSalesSystemAssignment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_PreSales_Systems_ProductID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_OneLineItem_PreSalesSystems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToTechnicalFeacibility</name>
        <label>assignToTechnicalFeacibility</label>
        <locationX>1106</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>VarTechnicalAssignment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_TechnicalFeasibility_ProductID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_OneLineItem_Tech</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToVoice_Var</name>
        <label>assignToVoice_Var</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>VarVoiceSolutionsAssignment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_Voice_ProductID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_OneLineItem_Voice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_OneLineItem_PreSales</name>
        <label>Remove_OneLineItem_PreSales</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>VarPreSalesAssignment</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pre_Sales_On_OnQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_OneLineItem_PreSalesNetworks</name>
        <label>Remove_OneLineItem_PreSalesNetworks</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>VarPreSalesNetworksAssignment</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pre_Sales_Networks_On_OnQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_OneLineItem_PreSalesSystems</name>
        <label>Remove_OneLineItem_PreSalesSystems</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>VarPreSalesSystemAssignment</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pre_Sales_Systems_On_OnQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_OneLineItem_Tech</name>
        <label>Remove_OneLineItem_Tech</label>
        <locationX>1106</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>VarTechnicalAssignment</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TechnicalFeasiblity_On_OnQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_OneLineItem_Voice</name>
        <label>Remove_OneLineItem_Voice</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>VarVoiceSolutionsAssignment</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_VoiceOn_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_which_lineitem_is_Deleted</name>
        <label>Check which lineitem is Deleted</label>
        <locationX>710</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VoiceLineItem_Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PNG_Approvals_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voice Solution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_VoiceLineItem</targetReference>
            </connector>
            <label>VoiceLineItem_Deleted</label>
        </rules>
        <rules>
            <name>Pre_SalesLineItem_Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PNG_Approvals_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PreSalesLineItem</targetReference>
            </connector>
            <label>Pre-SalesLineItem_Deleted</label>
        </rules>
        <rules>
            <name>Pre_Sales_Systems_Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PNG_Approvals_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Sales (Systems Team)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PreSalesSystemsLineItem</targetReference>
            </connector>
            <label>Pre-Sales_Systems_Deleted</label>
        </rules>
        <rules>
            <name>Pre_Sales_Networks_Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PNG_Approvals_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Sales (Networks Team)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PreSalesNetworksLineItem</targetReference>
            </connector>
            <label>Pre-Sales_Networks_Deleted</label>
        </rules>
        <rules>
            <name>TechnicalFeasibilityLineItem_Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PNG_Approvals_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Feasibility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TechnicalFeasibilityLineItem</targetReference>
            </connector>
            <label>TechnicalFeasibilityLineItem_Deleted</label>
        </rules>
    </decisions>
    <interviewLabel>PNG QuoteLineItem Flow (WhenDeleted) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PNG QuoteLineItem Flow (WhenDeleted)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PreSalesLineItem</name>
        <label>Get_PreSalesLineItem</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToPreSales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Sales</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>Var_PreSales_ProductID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PreSalesNetworksLineItem</name>
        <label>Get_PreSalesNetworksLineItem</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToPreSales_Network</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Sales (Networks Team)</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>Var_PreSales_Network_ProductID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PreSalesSystemsLineItem</name>
        <label>Get_PreSalesSystemsLineItem</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToPreSales_Systems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Sales (Systems Team)</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>Var_PreSales_Systems_ProductID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_TechnicalFeasibilityLineItem</name>
        <label>Get_TechnicalFeasibilityLineItem</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToTechnicalFeacibility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Feasibility</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>Var_TechnicalFeasibility_ProductID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_VoiceLineItem</name>
        <label>Get_VoiceLineItem</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToVoice_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNG_Approvals_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice Solution</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>Var_Voice_ProductID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pre_Sales_Networks_On_OnQuote</name>
        <label>Update_Pre-Sales_Networks_On_OnQuote</label>
        <locationX>842</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PreSales_Network_Line_Items__c</field>
            <value>
                <elementReference>VarPreSalesNetworksAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pre_Sales_On_OnQuote</name>
        <label>Update_Pre-Sales_On_OnQuote</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PreSales_Line_Items__c</field>
            <value>
                <elementReference>VarPreSalesAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pre_Sales_Systems_On_OnQuote</name>
        <label>Update_Pre-Sales_Systems_On_OnQuote</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PreSales_Systems_Line_Items__c</field>
            <value>
                <elementReference>VarPreSalesSystemAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TechnicalFeasiblity_On_OnQuote</name>
        <label>Update_TechnicalFeasiblity_On_OnQuote</label>
        <locationX>1106</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Technical_Feasibility_Line_Items__c</field>
            <value>
                <elementReference>VarTechnicalAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VoiceOn_Quote</name>
        <label>Update_VoiceOn_Quote</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Voice_Solution_Line_Items__c</field>
            <value>
                <elementReference>VarVoiceSolutionsAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_which_lineitem_is_Deleted</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LoopVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_PreSales_Network_ProductID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Var_PreSales_ProductID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Var_PreSales_Systems_ProductID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Var_PreSalesCount</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_TechnicalFeasibility_ProductID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Var_Voice_ProductID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Var_VoiceCountLoop</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarPreSalesAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarPreSalesNetworksAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarPreSalesSystemAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTechnicalAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarVoiceSolutionsAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
